name: CI MVP Setup

on:
    push:
    pull_request:

jobs:
    test-auth:
        name: Test auth-service
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: auth-service
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with: 
                python-version: '3.11'

            - name: Cache pip packages
              uses: actions/cache@v4
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('**auth-service/requirements.txt') }}
                restore-keys: |
                  ${{ runner.os }}-pip-auth-

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Run unit tests
              run: python -m pytest -v

    test-file:
        name: Test file_service
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: file_service
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'

            - name: Cache pip packages
              uses: actions/cache@v4
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('**file_service/requirements.txt') }}
                restore-keys: |
                  ${{ runner.os }}-pip-file-

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Run unit tests
              run: python -m pytest -v


    build-docker:
        name: Build Docker Images
        runs-on: ubuntu-latest
        needs: [test-auth, test-file]

        steps: 
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build auth-service image
              run: docker build -t auth-service:ci ./auth-service

            - name: Build file_service image
              run: docker build -t file-service:ci ./file_service

